@model Modelos.UsuarioViewModel
@{
    ViewData["Title"] = "Exportar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/jquery-3.5.0.min.js"></script>
    <link rel="stylesheet" href="~/bootstrap/css/StyleCNTt.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
    <br />
    <br />
    <div class="header-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Inicio</a></li>
                <li class="breadcrumb-item"><a>Centro de notificaciones</a></li>
                <li class="breadcrumb-item active" aria-current="page">Notificaciones App</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="page-title">Notificaciones App</h1>
                    <a href="@Url.Action("CrearNotificacionPush", "Exportar")" class="create-notification-btn-cnt">
                        Crear Notificación <i class="bi bi-plus-lg plus-icon "></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 align-self-lg-center">
            <div class="table-reponsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead">
                        <tr>
                            <th class="col-nombre">Nombre</th>
                            <th class="col-descripcion">Descripcion</th>
                            <th class="col-fecha-c">Fecha de creación</th>
                            <th class="col-status">Status</th>
                            <th class="col-options">Acciones  </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var notificacion in Model.ListUsuarios)
                        {
                            <tr>
                                <td>
                                    <div class="texto-truncado">
                                        @notificacion.Nombre
                                    </div>
                                </td>
                                <td>
                                    <div class="texto-truncado">
                                        @notificacion.Nombre
                                    </div>
                                </td>
                                <td>
                                    @notificacion.FechaNacimeinto
                                </td>
                                <td>
                                    <span class="status @(notificacion.StatusUsuario ? "text-success" : "text-danger")">
                                        @(notificacion.StatusUsuario ? "ACTIVA" : "INACTIVA")
                                    </span>
                                </td>
                                <td class="col-options-ico">
                                    <i class="bi bi-pencil icono-accion" data-id="@notificacion.IdBa"></i>
                                    <i class="bi bi-eye icono-accion" onclick="verDetalle(@notificacion.IdBa)"></i>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="pagination-wrapper row">
                <!-- Selector de registros por página -->
                <div class="col-12 col-md-6 pagination-controls">
                    <select id="recordsPerPage" class="records-dropdown form-select">
                        @foreach (var option in Model.RegistrosPorPaginaOpciones)
                        {
                            if (option == Model.RegistrosPorPagina)
                            {
                                <option value="@option" selected="selected">@option por pagina</option>
                            }
                            else
                            {
                                <option value="@option"> @option por pagina </option>
                            }

                        }
                    </select>
                    <span id="record-count">
                        @{
                            // Calcular cuántos registros se muestran actualmente
                            int registrosMostrados = Model.CurrentPage * Model.RegistrosPorPagina;
                            if (registrosMostrados > Model.TotalRegistros)
                            {
                                registrosMostrados = Model.TotalRegistros; // Asegurar que no exceda el total
                            }
                        }
                        <a class="texto-n-figtre">@registrosMostrados </a> de @Model.TotalRegistros registros
                    </span>
                </div>

                <div class="col-12 col-md-6 pagination-container">
                    <nav arial-label="page navigation">
                        <ul class="pagination justify-content-end">

                            <!-- Botón Anterior -->
                            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                                <a class="page-link" href="@(Model.CurrentPage > 1 ? Url.Action("Index", new { page = Model.CurrentPage - 1, PageSize = Model.RegistrosPorPagina }) : "#")" aria-label="Anterior">
                                    <i class="bi bi-chevron-left"></i>
                                </a>
                            </li>

                            <!-- Paginación dinámica -->
                            @for (var i = Math.Max(1, Model.CurrentPage - 2); i <= Math.Min(Model.TotalPages, Model.CurrentPage + 2); i++)
                            {
                                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Index", new { page = i, PageSize = Model.RegistrosPorPagina })">@i</a>
                                </li>
                            }

                            <!-- Botón Siguiente -->
                            <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                                <a class="page-link" href="@(Model.CurrentPage < Model.TotalPages ? Url.Action("Index", new { page = Model.CurrentPage + 1, PageSize = Model.RegistrosPorPagina }) : "#")" aria-label="Siguiente">
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>

    <script src="~/js/jquery-3.5.0.min.js"></script>
    <script>
        document.getElementById('recordsPerPage').addEventListener('change', function () {
            var selectV = this.value;
            var url2 = '@Url.Action("Index", "CentroNotificaciones")';
            window.location.href = url2 + '?page=1&PageSize=' + encodeURIComponent(selectV);
        });

    </script>

</body>
</html>



