@model Modelos.UsuarioViewModel
@{
    ViewData["Title"] = "Exportar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/css/site.css"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
    <div class="container-fluid">
        <div class="text-center">
            <h2>Usuarios</h2>
        </div>
        <div class="row center-block">
            <div class="col-md-1">
                <div class="float:right;">
                    @Html.ActionLink("+", "Form", "Usuario", htmlAttributes: new { @class = "btn btn-success glyphicon" })
                    <br> <br />
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 align-self-lg-center">
                <table class="table table-dark table-hover table-striped table-bordered table-responsive">
                    <thead>
                        <tr class="table-secondary">
                            <td>Estatus</td>
                            <td>Nombre</td>
                            <td>Sexo</td>
                            <td>F. Nacimiento</td>
                            <td>Datos Usuario</td>
                            <td>Domicilio</td>
                            <td>Codigo Postal</td>
                            <td>Options</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var usuario in Model.ListUsuarios)
                        {
                            <tr>                                
                                <td>
                                    <input type="checkbox"
                                           class="estatus-checkbox"
                                    @(usuario.StatusUsuario ? "checked" : "")
                                           disabled="disabled" />
                                </td>

                                <td>@usuario.Nombre @usuario.ApellidoP @usuario.ApellidoM</td>
                                <td>@usuario.Sexo</td>
                                <td>@usuario.FechaNacimeinto</td>
                                <td>user: @usuario.UsuarioBa Pass: @usuario.ClaveUs</td>
                                <td>@usuario.Domicilio</td>
                                <td>@usuario.CodigoP</td>
                                <td>
                                    <i class="bi bi-pencil-square icono-accion btn-edit" data-id="@usuario.IdBa"></i>
                                    <i class="bi bi-trash icono-accion btn-delete" data-id="@usuario.IdBa"></i>
                                    <i class="bi bi-eye icono-accion btn-detalle" onclick="verDetalle(@usuario.IdBa)"></i>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination">
                        @if (Model.CurrentPage > 1)
                        {
                            <li class="page-item"><a class="page-link" href="@Url.Action("Exportar", new { page = Model.CurrentPage - 1 })">Anterior</a></li>
                        }
                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.CurrentPage ? "active" : "")"><a class="page-link" href="@Url.Action("Exportar", new { page = i })">@i</a></li>
                        }
                        @if (Model.CurrentPage < Model.TotalPages)
                        {
                            <li class="page-item"><a class="page-link" href="@Url.Action("Exportar", new { page = Model.CurrentPage + 1 })">Siguiente</a></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detalle-modal" tabindex="-1" role="dialog" aria-labelledby="detalleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered custom-modal-size .modal-dialog" role="document">
            <div class="modal-content detalle-usuario-modal">
                <div class="modal-header">
                    <h5 class="modal-title" id="detalleModalLabel">Detalle del Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Aquí se carga la vista parcial con AJAX -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>



    <input type="button" id="btnExportarExcel" value="Enviar petición">
    <div id="response"></div>

    <!-- Asegúrate de incluir jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
     <script src="~/js/sweetalert2.all.min.js"></script>    
    <script>

        $(document).ready(function () {
            // Cuando se haga clic en el botón con ID "btnExportarExcel"
            $('#btnExportarExcel').click(function () {
                // Realizar la petición AJAX
                $.ajax({
                    url: '@Url.Action("CargaMasiva", "Exportar")/', // URL de la acción en el controlador
                    type: 'POST', // Método HTTP a utilizar
                    success: function (response) {
                        // Manejar la respuesta aquí, si es necesario
                        if (response.success) {
                            alert('Exportación a Excel exitosa!');
                        } else {
                            alert('Hubo un error en la exportación a Excel.');
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Error al intentar exportar a Excel: ' + error);
                    }
                });
            });
        });

            debugger
            // Confirmación de eliminación
        $(document).ready(function () {
            $('.btn-delete').click(function () {
                var id = $(this).data('id');
                var url = '@Url.Action("Delete", "Usuario")';
                debugger
                // Verificar si el checkbox está seleccionado
                // var isChecked = $('.estatus-checkbox').is(':checked');
                var isChecked = $(this).closest('tr').find('.estatus-checkbox').is(':checked');

                if (isChecked) {
                    Swal.fire({
                        title: 'Usuario Activado',
                        text: 'Primero debe desactivar al usuario.',
                        icon: 'warning',
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'Ok'
                    });
                    return; // Salir de la función para evitar que se ejecute el código de eliminación
                }
                else 
                {
                    // Mostrar la confirmación de eliminación
                    Swal.fire({
                        title: '¿Estás seguro?',
                        text: '¡No podrás revertir esto!',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Sí, eliminarlo!',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: { IdUsuario: id },
                                success: function (response) {
                                    if (response.success) {
                                        Swal.fire({
                                            title: '¡Eliminado!',
                                            text: 'El registro ha sido eliminado.',
                                            icon: 'success'
                                        }).then(() => {
                                            location.reload(); // Recargar la página para actualizar la lista de usuarios
                                        });
                                    } else {
                                        Swal.fire({
                                            title: 'Error',
                                            text: 'Error al eliminar el registro.',
                                            icon: 'error'
                                        });
                                    }
                                },
                                error: function (xhr, status, error) {
                                    Swal.fire({
                                        title: 'Error',
                                        text: 'Error al intentar eliminar el registro: ' + error,
                                        icon: 'error'
                                    });
                                }
                            });
                        } else {
                            Swal.fire({
                                title: 'Cancelado',
                                text: 'La acción ha sido cancelada.',
                                icon: 'info'
                            });
                        }
                    });
                }

                
            });
        });

        $('.btn-edit').click(function () {
            var id = $(this).data('id');
            var url = '@Url.Action("Edit", "Usuario")';

            $.ajax({
                url: url,
                type: 'GET',
                data: { IdUsuario: id },
                success: function (response) {
                    if (response.success) {
                        // Aquí puedes manejar la respuesta, por ejemplo, cargar un modal con los datos
                        $('#modalEdit').html(response.html);
                        $('#modalEdit').modal('show');
                    } else {
                        Swal.fire({
                            title: 'Error',
                            text: 'Error al cargar los datos de edición.',
                            icon: 'error'
                        });
                    }
                },
                error: function (xhr, status, error) {
                    Swal.fire({
                        title: 'Error',
                        text: 'Error al intentar cargar los datos de edición: ' + error,
                        icon: 'error'
                    });
                }
            });
        });

        debugger
        function verDetalle(id) {
            $.ajax({
                url: '@Url.Action("DetalleUsuario", "Exportar")',
                type: 'GET',
                data: { id: id },
                success: function (result) {
                    $('#detalle-modal .modal-content').html(result);
                    $('#detalle-modal').modal('show');
                },
                error: function () {
                    alert("Error al cargar los detalles del usuario");
                }
            });
        }


    </script>

</body>
</html>

<!-- Modal para Editar -->
<div id="modalEdit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- El contenido de edición se cargará aquí -->
                <p>Cargando...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Ver Detalle -->
<div id="modalDetail" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles del Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- El contenido de detalles se cargará aquí -->
                <p>Cargando...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



